<%- include('../template/head')-%>
<%- include('../template/constantTitle')-%>
<%- include('../template/cursor')-%>
<%- include('../template/leftborder')-%>

<body>
<%- include('../template/nav')-%>

<div class="myDiv" id="div3">
    <div class="clearTop"></div>
    <div class="title">
        <span class="first">aria</span>
        <span class="second">.saved()</span>
    </div>
</div>
</body>
<script>
    window.onload = function() {
        document.getElementById('saved').classList.add('active');

    };
</script>
